/* Main */
/* Breakpoints */
/* Header */
/* Images */
/* Heading */
/* Link */
/* Copyright */
/* Arrow */
/* Button */
/* Strip */
/* Parameters */
/* Main */
/* Breakpoints */
/* Header */
/* Images */
/* Heading */
/* Link */
/* Copyright */
/* Arrow */
/* Button */
/* Strip */
/* Parameters */
/* Typography */
/* Other */
/* Header */
/* Slider */
/* Copyright */
/* Elements */
/* Main */
/* Breakpoints */
/* Header */
/* Images */
/* Heading */
/* Link */
/* Copyright */
/* Arrow */
/* Button */
/* Strip */
/* Parameters */
/* Main */
/* Breakpoints */
/* Header */
/* Images */
/* Heading */
/* Link */
/* Copyright */
/* Arrow */
/* Button */
/* Strip */
/* Parameters */
/* Typography */
/* Other */
/* Header */
/* Slider */
/* Copyright */
/* Elements */
.container, .container-fluid {
  --bs-gutter-x: 0;
}

.footer__container {
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  padding: 60px 0;
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .footer__container {
    width: 625px;
  }
}
@media (min-width: 992px) {
  .footer__container {
    width: 860px;
  }
}
.footer__container h5 {
  color: #232327;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 140%;
}
.footer__container a {
  color: #9497AA;
  font-size: 0.935rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.footer__container a:hover {
  color: #288ee7;
}
.footer__container .footer__grid {
  display: grid;
  text-align: center;
  gap: 16px;
  grid-template-areas: "logo" "about" "contacts" "other" "socials";
}
.footer__container .footer__grid .footer__logo {
  grid-area: logo;
}
.footer__container .footer__grid .footer__logo img {
  width: 210px;
}
.footer__container .footer__grid .footer__about {
  grid-area: about;
}
.footer__container .footer__grid .footer__about ul {
  padding: 0;
  list-style-type: none;
}
.footer__container .footer__grid .footer__contacts {
  grid-area: contacts;
}
.footer__container .footer__grid .footer__other {
  grid-area: other;
}
.footer__container .footer__grid .footer__socials {
  grid-area: socials;
}
.footer__container .footer__grid .footer__socials img {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
@media (min-width: 485px) and (max-width: 991.99px) {
  .footer__container .footer__grid {
    grid-template-columns: auto;
    grid-template-areas: "logo contacts" "about other" "about socials";
  }
}
@media (min-width: 992px) {
  .footer__container .footer__grid {
    grid-template-columns: auto;
    grid-template-areas: "logo about contacts" "socials about other";
    margin-bottom: 32px;
  }
  .footer__container .footer__grid .footer__logo {
    grid-area: logo;
  }
  .footer__container .footer__grid .footer__logo img {
    width: 250px;
  }
  .footer__container .footer__grid .footer__socials img {
    width: 50px;
    height: 50px;
  }
}
.footer__container .footer__copyright {
  font-size: 0.835rem;
  color: #9497AA;
  padding-top: 1.5rem;
  border-top: 1px solid #c6cbd9;
  text-align: center;
}
.footer__container .footer__copyright .scroll-top {
  position: fixed;
  right: 16px;
  bottom: 24px;
  width: 50px;
  height: 50px;
  background: #232327;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: rotate(360deg) translateX(-50px);
  transition: all 0.4s ease-in-out;
}

/* .footer .scroll-top--visible {
  transform: rotate(-90deg) translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
} */